.WelcomeContainer{	
	padding: 0 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 100vh;
	background-color: #f2f0e4;

}

.WelcomeContainer h1{
	font-size: 1.7em;
	font-weight: 600;
	font-style: normal;
	margin-bottom: 0;
	color: var(--textColor);
	padding-top: 3em;
}
.WelcomeInfo{
	height: 200px;
	overflow: auto;

}

.WelcomeInfo p{
	margin-bottom: 2em;
	color: var(--textColor);
	font-size: 1em;
	font-style: normal;
	font-weight: 500;
}

.actionBtn{
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 3em;
}

.actionBtn>a:last-child{
	color:var(--btnBgColor);
	font-size: 0.875em;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;
}